//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 25 18:14:24 2017
//! **************************************************************************

SCHEMATIC START;
COMP "sel<0>" LOCATE = SITE "L16" LEVEL 1;
COMP "sel<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "sel<2>" LOCATE = SITE "R15" LEVEL 1;
COMP "sel<3>" LOCATE = SITE "R17" LEVEL 1;
COMP "led<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "led<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "led<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "led<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "led<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "enable" LOCATE = SITE "J15" LEVEL 1;
SCHEMATIC END;

